<!DOCTYPE html>
<html>
<head>
  <title>Blahblah</title>
  <%= stylesheet_link_tag    "blahblah/application", :media => "all" %>
  <%= javascript_include_tag "blahblah/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
