//**********************************
// AUTHOR:          BEN YACO
//

#footer, footer {
	width: 100%;
	float: left;
  padding: 20px 0;
	//margin-top: 100px;
}

#footer {
  input {
    background-color: #000;
    border: 1px solid #000;
  }
}

#footer {
  background-color: $black;
  position: relative;
  min-height: 220px;
  clear: both;
  overflow: hidden;
    a {
      color: #FFF;
    }
  ul {
    float: left;
    width: 250px;
    margin-right: 30px;
  }
} 
