

.page-head {
  // TODO YACO not in love with this method
  // height: 0px;
  // padding-bottom: 50%;
  width: 100%;
  float: left;
  position: relative;
  video {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
}



.page-head {
  background-color: #131518;
  //@include baseline(10);
}
