@import "core/helpers"; 

.mason {
  li {
    width: 300px;
    overflow: hidden;
  }
}

.user-path, .path-secondary {
  color: inherit;
}






.topic-filters {
  li {
    float: left;
  }
}

.topic-post-video {
  iframe {
    width: 100%;
    margin-bottom: 15px;
  }
}






